@keyframes bg {
    0% {
      background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
      background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
      background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
      background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
      background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
  }
  
.Description {
    width:25%;
    height: 35%;
    background-repeat: no-repeat;
    animation: bg 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    box-shadow: inset 0px 3px 30px  #dac22c;
    transition: all 700ms ease-out;
    // border: 2px solid #4a4949;
  }
  
  .Description:hover {
    animation-play-state: running;
    transform: scale(1.7);
    transition: all 350ms ease-out;
    border-radius: 50%;
    border: 1px solid #dac22c;
  }
  .Description::after{
      transition: 1s ease-out;
  }
//   .MainContainer {
//     background: linear-gradient(104deg, #bb80d4, #8cc88c, #d3ca92);
//     // background-size: 600% 600%;
//     height: 100vh;

//     -webkit-animation: AnimationName 10s  infinite;
//     -moz-animation: AnimationName 10s  infinite;
//     animation: AnimationName 10s infinite;
// }

// @-webkit-keyframes AnimationName {
//     0%{background-position:0% 59%}
//     50%{background-position:100% 42%}
//     100%{background-position:0% 59%}
// }
// @-moz-keyframes AnimationName {
//     0%{background-position:0% 59%}
//     50%{background-position:100% 42%}
//     100%{background-position:0% 59%}
// }
// @keyframes AnimationName {
//     0%{background-position:0% 59%}
//     50%{background-position:100% 42%}
//     100%{background-position:0% 59%}
// }


  .glow-3 {
    color: #dac22c;
    font-family: 'Retro Gaming';
    text-align: center;
    -webkit-animation: glow .7s ease-in-out infinite alternate;
    -moz-animation: glow .7s ease-in-out infinite alternate;
    animation: glow .7s ease-in-out infinite alternate;
  }
  
  @keyframes glow-3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #dac22c, 0 0 30px #dac22c, 0 0 40px #a92cde;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #dac22c, 0 0 40px #dac22c, 0 0 50px #dac22c;
    }
  }


  .Title {
    width: auto;
    display: inline-block;
    font-family: 'Retro Gaming';
    overflow:  hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #a92cde; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: typing 6s steps(40, end), blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #942bb4;
  }
}


.ContentContainer-2 {
  background: linear-gradient(331deg, #7500a7, #008700);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:30% 0%}
  50%{background-position:71% 100%}
  100%{background-position:30% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:30% 0%}
  50%{background-position:71% 100%}
  100%{background-position:30% 0%}
}
@keyframes AnimationName {
  0%{background-position:30% 0%}
  50%{background-position:71% 100%}
  100%{background-position:30% 0%}
}